@import 'fonts';
@import 'theme';
@import 'keyframes';

body {
  margin: 0;
  font-family: 'Poiret One', Helvetica, Georgia;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

#game {
  position: relative;
  overflow: hidden;
  background: #666;
}

.game-title {
  position: absolute;
  font-size: 30px;
  top: 20%;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  letter-spacing: 14px;
  &.out {
    -webkit-transition: -webkit-transform 0.5s ease;
            transition: transform 0.5s ease;
    -webkit-transform: translate3d(0, -400px, 0);
            transform: translate3d(0, -400px, 0);
  }

}

.lane {
  width: 25%;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
  &:active,
  &.active {
    background-color: rgba(255, 255, 255, 0.15);
  }
  &.fade {
    -webkit-transition: background-color 0.5s ease;
            transition: background-color 0.5s ease;
  }
}

.shade {
  width: 25%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-transition: -webkit-transform 10s linear;
          transition: transform 10s linear;
  &.landing {
    -webkit-transition: -webkit-transform 50ms linear;
            transition: transform 50ms linear;
  }
  &.prepare-0 {
    opacity: 0;
    -webkit-transition: opacity 0.5s linear;
            transition: opacity 0.5s linear;
  }
  &.prepare-1 {
    -webkit-transition: width 1s ease-in-out, left 1s ease-in-out;
            transition: width 1s ease-in-out, left 1s ease-in-out;
  }
  &.prepare-2 {
    -webkit-transition: height 0.3s linear;
            transition: height 0.3s linear;
  }
  &.welcome {
    -webkit-transition: -webkit-transform 0.8s linear;
            transition: transform 0.8s linear;
  }
}

.shade-combine {
  width: 25%;
  position: absolute;
  -webkit-transition: background-color 0.3s ease, height 0.3s ease;
          transition: background-color 0.3s ease, height 0.3s ease;
}

.live-score {
  display: none;
  background-color: transparent !important;
  text-align: center;
  left: 0;
  right: 0;
  top: 15px;
  position: absolute;
  font-size: 22px;
  z-index: 11;
}

.score,
.best {
  position: absolute;
  color: white;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
}

.score { bottom: 0; }
.best { top: 0; }

.menu {
  display: none;
  width: 100%;
  top: 0;
  position: absolute;

  .best {
    font-size: 14px;
    bottom: 0;
    top: auto;
    background-color: #555;
  }
}

.btn-begin {
  cursor: pointer;
  width: 60%;
  left: 20%;
  height: 100px;
  overflow: hidden;
  position: absolute;
  .content {
    height: 100px;
    width: 100%;
    left: 0;
    position: absolute;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
            transition: transform 0.5s ease-in-out;
  }
  p {
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin: 0;
  }

  &.up {
    top: calc(35% - 100px);
    .content {
      bottom: -100px;
      &.in {
        -webkit-transform: translate3d(0, -100px, 0);
                transform: translate3d(0, -100px, 0);
      }
    }
    p {
      bottom: 0;
      position: absolute;
    }
  }
  &.down {
    top: 35%;
    .content {
      top: -100px;
      &.in {
        -webkit-transform: translate3d(0, 100px, 0);
                transform: translate3d(0, 100px, 0);
      }
    }
  }
}

.btn-theme,
.btn-tutorial {
  font-size: 14px;
  top: calc(35% + 100px + 30px);
  cursor: pointer;
  position: absolute;
}
.btn-theme { left: 25%; }
.btn-tutorial { left: 60%; }

.gameover-up,
.gameover-down {
  display: none;
  position: absolute;
  width: 100%;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
          transition: transform 0.5s ease-in-out;
  z-index: 10;
}

.gameover-title {
  position: absolute;
  text-align: center;
  width: 70px;
  font-size: 35px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.gameover-up {
  bottom: 100%;
  &.in {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}

.gameover-down {
  top: 100%;
  &.in {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
}

.btn {
  cursor: pointer;
  width: 200px;
  border: 1px solid #222;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  left: 50%;
  position: absolute;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
}

.btn-share { top: 25%; }
.btn-playagain { top: 45%; }

.lane-0 { left: 0;  }
.lane-1 { left: 25%; }
.lane-2 { left: 50%; }
.lane-3 { left: 75%; }

.share {
  display: none;
  background: rgba(0, 0, 0, 0.7);
  color: white;

  .arrow {
    width: 60px;
    position: absolute;
    right: 0;
    -webkit-animation: arrow 1s infinite linear;
            animation: arrow 1s infinite linear;
  }
  .text {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
  }
  .like {
    position: absolute;
    font-size: 20px;
    bottom: 60px;
    text-align: center;
    width: 100%;
  }
}

.hidden {
  position: absolute;
  bottom: 0;
  visibility: hidden;
}

.ads {
  position: absolute;
  padding: 0;
  margin: 0;
  border: none;
  bottom: 0;
  height: 60px;
  width: 100%;

  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

// HACK: Lock landscape mode
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation: landscape) {
  body {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
           -webkit-transform: rotate(90deg);
                   transform: rotate(90deg);
                    position: absolute;
                        left: 100%;
  }
}
