$green: #c9e4c9;

@import 'fonts';
@import 'keyframes';

body {
  margin: 0;
  font-family: 'Poiret One', Helvetica, Georgia;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#game {
  position: relative;
  overflow: hidden;
  background: #666;

  // width: 320px;
  // height: 480px;
}

.game-title {
  position: absolute;
  font-size: 30px;
  top: 20%;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  letter-spacing: 14px;
  &.out {
    -webkit-transition: -webkit-transform 0.5s ease;
            transition: transform 0.5s ease;
    -webkit-transform: translate3d(0, -400px, 0);
            transform: translate3d(0, -400px, 0);
  }

}

.lane {
  width: 25%;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
  &:active,
  &.active {
    background-color: rgba(255, 255, 255, 0.15);
  }
  &.fade {
    -webkit-transition: background-color 0.5s ease;
            transition: background-color 0.5s ease;
  }
}

.shade {
  width: 25%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 10s linear;
          transition: transform 10s linear;
  &.landing {
    -webkit-transition: -webkit-transform 50ms linear;
            transition: transform 50ms linear;
  }
  &.prepare-1 {
    -webkit-transition: width 1s ease-in-out, left 1s ease-in-out;
            transition: width 1s ease-in-out, left 1s ease-in-out;
  }
  &.prepare-2 {
    -webkit-transition: height 0.3s linear;
            transition: height 0.3s linear;
  }
  &.welcome {
    -webkit-transition: -webkit-transform 0.8s linear;
            transition: transform 0.8s linear;
  }
}

.shade-combine {
  width: 25%;
  position: absolute;
  -webkit-transition: background-color 0.35s ease, height 0.35s ease;
          transition: background-color 0.35s ease, height 0.35s ease;
}

.lane-0 { left: 0; }
.lane-1 { left: 25%; }
.lane-2 { left: 50%; }
.lane-3 { left: 75%; }

.theme-1 {
  .color-0 { background-color: $green; }
  .color-1 { background-color: darken($green, 10%); }
  .color-2 { background-color: darken($green, 25%); }
  .color-3 { background-color: darken($green, 40%); }
  .color-4 { background-color: darken($green, 60%); }
}

.ads {
  position: absolute;
  padding: 0;
  margin: 0;
  border: none;
  bottom: 0;
  height: 60px;
  width: 100%;

  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

// HACK: Lock landscape mode
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation: landscape) {
  body {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
           -webkit-transform: rotate(90deg);
                   transform: rotate(90deg);
                    position: absolute;
                        left: 100%;
  }
}
